# Xcode
DerivedData/
build/
*.xcworkspace
xcuserdata/
.DS_Store

# CocoaPods
Pods/
Podfile.lock

# SwiftPM
.build/

# Misc
*.xcuserstate
*.xcscmblueprint

# Firebase (если добавишь позже)
GoogleService-Info.plist
