# Xcode
DerivedData/
build/
*.xcworkspace
xcuserdata/
.DS_Store
*.xcuserstate
*.xcscmblueprint

# CocoaPods
Pods/
Podfile.lock

# SwiftPM
.build/

# Firebase
GoogleService-Info.plist

# CI / Others
fastlane/report.xml
fastlane/test_output/
