# Xcode
DerivedData/
build/
*.xcworkspace
xcuserdata/
.DS_Store
*.xcuserstate
*.xcscmblueprint

# CocoaPods
Pods/
# Коммитим lock-файл для воспроизводимых сборок
# НЕ игнорируем Podfile.lock

# SwiftPM
.build/

# Firebase (секреты, добавишь позже)
GoogleService-Info.plist

# CI / Fastlane (если появится)
fastlane/report.xml
fastlane/test_output/
